@model TaskManagementSystem.ViewModels.TasksVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Task.Name" class="control-label"></label>
                <input asp-for="@Model.Task.Name" class="form-control" />
                <span asp-validation-for="@Model.Task.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Description" class="control-label"></label>
                <input asp-for="@Model.Task.Description" class="form-control" />
                <span asp-validation-for="@Model.Task.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.Status" class="control-label"></label>
                <select asp-for="@Model.Task.Status" class="form-control">
                    <option value="Pending">Pending</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                    <option value="Overdue">Overdue</option>
                </select>
                <span asp-validation-for="@Model.Task.Status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Task.Deadline" class="control-label"></label>
                <input asp-for="@Model.Task.Deadline" class="form-control" />
                <span asp-validation-for="@Model.Task.Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.ProjectId" class="control-label"></label>
                <input asp-for="@Model.Task.ProjectId" class="form-control" value="@Model.Project.ProjectId" readonly>
                <input type="hidden" name="ProjectId" value="@Model.Project.ProjectId" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Task.AssignedToUsername" class="control-label"></label>
                <select asp-for="@Model.Task.AssignedToUsername" class="form-control">
                    @foreach (var member in Model.ProjectMembers)
                    {
                        <option value="@member.Username" selected="@((member.Username == Model.SelectedProjectMemberUsername).ToString().ToLower())">@member.Username</option>
                    }
                </select>
            </div>



            <div class="form-group">
                <label asp-for="@Model.Document" class="control-label"></label>
                <input asp-for="@Model.Document" class="form-control" type="file" id="formFile" name="postedFile">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectId="@Model.Project.ProjectId">Back to List</a>
</div>

