@model TaskManagementSystem.ViewModels.TasksVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.Tab == "alltasks" ? "active" : "")" href="@Url.Action("Index", new { projectId = Model.Project.ProjectId, tab = "alltasks" })" role="tab">All Tasks</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.Tab == "mytasks" ? "active" : "")" href="@Url.Action("Index", new { projectId = Model.Project.ProjectId, tab = "mytasks" })" role="tab">My Tasks</a>
    </li>
</ul>


    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="mytasks" role="tabpanel">
            <h1>Tasks</h1>


            <h5>These are the Tasks for the Project: @Model.Project.ProjectId</h5>
            <h5>Project Deadline: @Model.Project.Deadline</h5>
            <div class="col-8">
                <form asp-controller="Tasks" asp-action="Index" method="get">
                    Task Name:
                    <input type="text" name="taskname" value="@Context.Request.Query["taskname"].ToString()" />

                    <input type="submit" value="Search" class="btn btn-secondary mx-2" />
                    <a asp-controller="Tasks" asp-action="Index" class="btn btn-outline-danger">
                        Clear
                    </a>
                </form>


            </div>
        @if (Model.Project.CreatedByUsername == User.Identity.Name)
        {
            <p>

                <a asp-action="Create" asp-route-projectId="@Model.Project.ProjectId" class="btn btn-primary">Create New Task</a>
            </p> 
            }
            <table class="table">
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Task.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.Deadline)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.AssignedToUsernameNavigation)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.Project)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Task.TaskDocumentNavigation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Project.Tasks)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Deadline)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedToUsernameNavigation.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Project.ProjectId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaskDocumentNavigation.DocumentId)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                            @if (Model.Project.CreatedByUsername == User.Identity.Name)
                            {
                                <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                            }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="tab-pane fade" id="alltasks" role="tabpanel">
            <h1>Tasks</h1>


<h5>These are the Tasks for the Project: @Model.Project.ProjectId</h5>
<h>Project Deadline: @Model.Project.Deadline</h>
          <div class="col-8">
            <form asp-controller="Tasks" asp-action="Index" method="get">
                Task Name:
                    <input type="text" name="taskname" value="@Context.Request.Query["taskname"].ToString()" />
           
                <input type="submit" value="Search" class="btn btn-secondary mx-2" />
        <a asp-controller="Tasks" asp-action="Index" class="btn btn-outline-danger">
                    Clear
                </a>
            </form>


        </div>
        @if (Model.Project.CreatedByUsername==User.Identity.Name){
<p>
     
    <a asp-action="Create" asp-route-projectId="@Model.Project.ProjectId" class="btn btn-primary">Create New Task</a>
</p>
        }
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Task.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.AssignedToUsernameNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Task.TaskDocumentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Project.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedToUsernameNavigation.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDocumentNavigation.DocumentId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                @if (Model.Project.CreatedByUsername == User.Identity.Name)
{
    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
}

                </td>
            </tr>
        }
    </tbody>
</table>

        </div>
    