@model TaskManagementSystem.ViewModels.TasksVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (TempData["msg"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["msg"].ToString()
        </div>
    }
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.Tab == "alltasks" ? "active" : "")" href="@Url.Action("Index", new { projectId = Model.Project.ProjectId, tab = "alltasks" })" role="tab">All Tasks</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link @(Model.Tab == "mytasks" ? "active" : "")" href="@Url.Action("Index", new { projectId = Model.Project.ProjectId, tab = "mytasks" })" role="tab">My Tasks</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="mytasks" role="tabpanel">
        <h1>Tasks</h1>
        <h5>Tasks for the Project: @Model.Project.Name</h5>
        <div class="col-8">
            <form method="get" action="@Url.Action("Index")" class="form-inline">
                <input type="hidden" name="projectId" value="@Model.Project.ProjectId" />
                <input type="hidden" name="tab" value="@Model.Tab" />
                <div class="input-group row">
                    <div class="col-lg-8">
                        <input type="text" name="search" placeholder="Search tasks..." class="form-control" value="@Context.Request.Query["search"]" />
                    </div>
                    <div class="input-group-append col-lg-4">
                        <button type="submit" class="btn fn-primarybtn text-white" style="background-color: #3d5361;">Search</button>
                    </div>
                </div>
            </form>
        </div>

        @if (Model.Project.CreatedByUsername == User.Identity.Name)
        {
            <br />
            <p>
                <a asp-action="Create" asp-route-projectId="@Model.Project.ProjectId" class="btn fn-primarybtn text-white" style="background-color: #3d5361;">Create New Task</a>
            </p>
        }

        <br />
        @Html.Partial("_GridPartial", Model.Project.Tasks)

    </div>
</div>

@section Scripts {
    <script>
        document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
    </script>
}
