@model IEnumerable<TaskManagementSystem.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notifications</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Message</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@item.Type</h6>
                    <p class="card-text">@item.Status</p>
                    <p class="card-text">Username: @item.UsernameNavigation.Username</p>
                    <a asp-action="Edit" asp-route-id="@item.NotificationId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.NotificationId" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.NotificationId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>




@*@model IEnumerable<TaskManagementSystem.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsernameNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsernameNavigation.Username)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotificationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NotificationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NotificationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

