@model IEnumerable<TaskManagementSystem.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Notifications</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
   <div class="card mb-3">
    <div class="card-header">
        <span class="font-weight-bold @(item.Status == "Read" ? "text-success" : "text-warning")">Status: @Html.DisplayFor(modelItem => item.Status)</span>
    </div>
    <div class="card-body">
        <h4 class="card-title">@item.Type</h4>
        <p class="card-text">Notification Date: @item.Notification_Date</p>
                    <a asp-action="Details" asp-route-id="@item.NotificationId" class="btn fn-primarybtn text-white" style="background-color: #3d5361;">Read Details</a>
    </div>
</div>

        </div>


    }
</div>




